---

---

<footer class="w-full flex flex-col items-center py-5 space-y-5 dark:bg-[#23252e]">
  <p class="text-sm text-gray-500 dark:text-gray-400">©Copyright 2025 Evan Luo. This work is licensed under <a class="hover:underline cursor-pointer text-blue-500 dark:text-blue-300" href="https://creativecommons.org/licenses/by-nc-nd/4.0">CC BY NC ND 4.0</a></p>
  <div class="flex space-x-3">
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><i class="fab fa-creative-commons text-3xl text-blue-500 dark:text-blue-300"/></a>
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><i class="fab fa-creative-commons-by text-3xl text-blue-500 dark:text-blue-300"/></a>
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><i class="fab fa-creative-commons-nc text-3xl text-blue-500 dark:text-blue-300"/></a>
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><i class="fab fa-creative-commons-nd text-3xl text-blue-500 dark:text-blue-300"/></a>
  </div>
</footer>
