---
type Route = {
  name: string
  tag: string
}

const routes: Route[] = [
  { name: "About", tag: "about" },
  { name: "News", tag: "news" },
  { name: "Projects", tag: "projects" },
  { name: "Publications", tag: "publications" },
]
const currentRoute = routes[0]
---

<header class="w-full sticky top-0">
  <div class="flex flex-row shadow-md items-center space-x-3 px-5 h-12 bg-white lg:w-full lg:h-[70px] lg:px-10 lg:space-x-10">
    <button id="bar" class="lg:hidden cursor-pointer"><i class="fa-solid fa-bars"/></button>
    <h1 class="text-xl self-center lg:text-2xl font-bold">Ziyun (Evan) Luo</h1>
    <ul class="hidden lg:flex flex-row space-x-5">
      {
        routes.map(route =>
          <li class={`${currentRoute.tag === route.tag ? "font-bold text-blue-600" : ""} cursor-pointer`}>{route.name}</li>
        )
      }
    </ul>
    <button class="ml-auto">
      <i class="fa-solid fa-moon"/>
    </button>
  </div>
  <ul id="menu" class="hidden flex flex-col space-y-2 bg-white py-3">
    {
      routes.map(route =>
        <li class={`${currentRoute.tag === route.tag ? "font-bold text-blue-600" : ""} cursor-pointer ml-5`}>{route.name}</li>
      )
    }
  </ul>
  <script>
    const button = document.getElementById("bar")
    const menu = document.getElementById("menu")
    button?.addEventListener("click", () => {
      menu?.classList.toggle("hidden")
    })
  </script>
</header>