---
type Route = {
  name: string
  tag: string
}

const routes: Route[] = [
  { name: "About", tag: "about" },
  { name: "News", tag: "news" },
  { name: "Projects", tag: "projects" },
  { name: "Publications", tag: "publications" },
]
const currentRoute = routes[0]

function toggleTheme() {
  document.documentElement.classList.toggle(
    "dark",
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
  );
}

function toggleDark() {
  localStorage.theme = "dark"
  toggleTheme()
}

function toggleLight() {
  localStorage.theme = "light"
  toggleTheme()
}

function toggleSystem() {
  localStorage.removeItem("theme")
  toggleTheme()
}
---

<header class="w-full fixed top-0">
  <div class="flex flex-row shadow-md items-center space-x-3 px-5 h-12 bg-white  lg:w-full lg:h-[70px] lg:px-10 lg:space-x-10">
    <button id="bar" class="lg:hidden cursor-pointer"><i class="fa-solid fa-bars"/></button>
    <h1 class="text-xl self-center lg:text-2xl font-bold">Ziyun (Evan) Luo</h1>
    <ul class="hidden lg:flex flex-row space-x-5">
      {
        routes.map(route =>
          <li class={`${currentRoute.tag === route.tag ? "font-bold text-blue-600" : ""} cursor-pointer`}>{route.name}</li>
        )
      }
    </ul>
    <div class="ml-auto w-20 relative group">
      <button id="theme" class="float-right cursor-pointer" aria-expanded="true" aria-haspopup="true" aria-controls="theme-menu">
        <i class="fa-solid fa-moon"/>
      </button>
      <ul role="menu" id="theme-menu" class="hidden group-hover:block hover:block absolute right-0 mt-5 rounded-sm w-[100px] space-y-2 p-2 bg-white border border-gray-100 shadow-sm" aria-labelledby="theme">
        <li role="menuitem" class="hover:bg-gray-100 rounded-sm py-1 px-2">
          <button onclick="toggleDark()" class="cursor-pointer">Dark</button>
        </li>
        <li role="menuitem" class="hover:bg-gray-100 rounded-sm py-1 px-2">
          <button onclick="toggleLight()" class="cursor-pointer">Light</button>
        </li>
        <li role="menuitem" class="hover:bg-gray-100 rounded-sm py-1 px-2">
          <button onclick="toggleSystem()" class="cursor-pointer">System</button>
        </li>
      </ul>
    </div>
  </div>
  <ul id="menu" class="hidden flex flex-col space-y-2 bg-white py-3">
    {
      routes.map(route =>
        <li class={`${currentRoute.tag === route.tag ? "font-bold text-blue-600" : ""} cursor-pointer ml-5`}>{route.name}</li>
      )
    }
  </ul>
  <script>
    const button = document.getElementById("bar")
    const menu = document.getElementById("menu")
    button?.addEventListener("click", () => {
      menu?.classList.toggle("hidden")
    })
    const theme = document.getElementById("theme")
    theme?.addEventListener("click", () => {

    })
  </script>
</header>