---
import Prose from "./Prose.astro";
import {Content as RecentNews} from "../posts/recent-news.md"
---

<div class="flex flex-col items-center bg-[#f7f7f7] dark:bg-[#23252e] py-[110px] space-y-5 px-5 lg:px-0">
  <h1 class="text-4xl xl:text-5xl dark:text-white">Recent News</h1>
  <article>
    <Prose>
      <RecentNews/>
    </Prose>
  </article>
</div>